<mat-card>
    <mat-card-content>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Id:</mat-label>
            <input matInput [(ngModel)]="category.id">
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Naziv:</mat-label>
            <input matInput [(ngModel)]="category.name">
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ikona:</mat-label>
            <input matInput [(ngModel)]="category.icon">
            <img src="{{category.icon}}" style="width:30px;height:30px;">
        </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="warn" (click)="closeAddCategory()">
            <mat-icon>close</mat-icon>
        </button>

        <button mat-raised-button color="primary" (click)="submit()">
            <mat-icon>save</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>